.container {
    padding: 20px;
    padding-left: 30px;
}

.fromUser {
    display:flex;
    justify-content: flex-end;
}

.blob {
    position: relative;
    padding: 10px;
    padding-bottom: 15px;
    padding-right: 40px;
    display: inline-block;
    background-color: white;
    border-radius: 7.5px;
    box-shadow: 0 1px .5px rgba(0, 0, 0, .13)
}

.username {
    font-size: 14px;
}

.content {
    font-size: 14px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.time {
    text-align: right;
    position:absolute;
    bottom: 0;
    right: 2px;
    font-size: 12px;
}