html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
  position: relative;
}

#root::after {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 150px;
  content: "";
  background-color: #009688;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

